# ===== Local (Docker Compose) =====
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

SERVER_PORT=8080

SMTP_HOST=mailhog
SMTP_PORT=1025

# секрет в Base64
CRM_JWT_SECRET=eW91cl9qd3RfdmVyeV92ZXJ5X3N0cm9uZ19zZWNyZXRfa2V5
CRM_JWT_ACCESS_TTL=15m
CRM_JWT_REFRESH_TTL=7d

# ===== Prod =====
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
MAIL_FROM=
