# Database Settings
POSTGRES_DB=crm_db
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=crm_password
POSTGRES_PORT=5432

# Application Settings
SERVER_PORT=8080

# Mail Settings
SMTP_HOST=mailhog
SMTP_PORT=1025
