<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
        <paths>password,newPassword,oldPassword,token,accessToken,refreshToken,authorization,secret,apiKey,email,phone</paths>
        <value>(?i)(bearer|basic)\s+\S+</value>
      </jsonGeneratorDecorator>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON"/>
  </root>
  <logger name="org.springframework.security" level="WARN"/>
</configuration>

